<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Events</a>
        </div>
        <ul>
          <li class="nav-li"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-li"><a href="/event" class="nav-link">Show events</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        <form class="create-event" action="/event" method="POST">
          <input class="create-input" type="text" name="title" placeholder="Enter the Title">
          <input class="create-input" type="text" name="summary" placeholder="Enter the Summary">
          <input class="create-input" type="text" name="host" placeholder="Enter the Host Name">
          <input class="create-input" type="date" name="start" placeholder="Enter the Starting Date">
          <input class="create-input" type="date" name="end" placeholder="Enter the Ending Date">
          <input class="create-input" type="text" name="categories" placeholder="Enter the Catogery">
          <input class="create-input" type="text" name="location" placeholder="Enter the Location">
          <button class="create-btn" type="submit">Add Event</button>
        </form>
      </div>
    </main>
    <footer>
      <div class="footer">
        <h2 class="footer-brand">Events</h2>
      </div>
    </footer>
  </body>
</html>