<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Events</a>
        </div>
        <ul>
          <li class="nav-li"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-li"><a href="/event" class="nav-link">Show events</a></li>
          <li class="nav-li"><a href="/event/new" class="nav-link">Create event</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h5><%= sdata%></h5>
      </div>
    </main>
    <footer class="footer">
      <div>
        <h2 class="footer-brand">Events</h2>
      </div>
    </footer>
  </body>
</html>