body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
  text-decoration: none;
} 
.container{
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}
.navbar {
  height: 3rem;
  padding: 30px;
  background-color: #395F6B;
  color: white;
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
}
.navbar-brand {
  color: white;
  font-size: 2rem;
  margin-left: 4rem;
}
.nav-li {
  list-style: none;
  display: inline;
}
.nav-link {
  font-size: 1.4rem;
  color: white;
  margin-left: 2rem;
}
img {
  width: 100%;
  height: 100%;
}
aside {
  width: 300px;
  list-style: none;
}
aside li {
  list-style: none;
}
.create-event {
  width: 600px;
  border: 2px solid rgb(108, 102, 102);
  margin-top: 7rem;
  margin-left: 20rem;
  padding: 20px;
  text-align: center;
}
.create-input {
  display: block;
  width: 90%;
  margin: 1rem;
  padding: 0.8rem;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 600;
}
.create-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 40px;
  font-weight: 700;
  background-color: white;
  border: 2px solid black;
}
.event-title{
  color: rgb(17, 19, 3);
}
.s-event {
  text-align: left;
}
.sort{
  margin-top: 20px;
  padding-left: 20px;
}
.sort-name {
  padding: 10px;
  border-radius: 40px;
}
.search-btn{
  padding: 10px;
  border-radius: 40px;
}
.m{
  display: flex;
  margin-top: 20px;
}
.c{
  border: 2px solid black;
  width: 30%;
  margin-right: 10px;
}
.e{
  border: 2px solid black;
  width: 60%;
}
.s {
  padding: 0;
  margin-left: 20px;
  height: 40rem;
  text-align: center;
}
.category{
  font-size: 2rem;
  list-style: none;
}
.s-title{
  font-size: 2rem;
}
.c-btn {
  padding: 10px 30px;
  margin: 20px;
  font-size: 1rem;
  border: none;
  border-radius: 40px;
  color: white;
  font-weight: 600;
}
.btn-l {
  background-color: rgb(37, 57, 8);
}
.btn-e {
  background-color: rgb(121, 121, 245);
}
.btn-d {
  background-color: red;
}
.remark-form{
  width: 300px;
}
.remark-btn{
  background-color: rgb(96, 137, 96);
}
.search {
  width: 500px;
  display: flex;
}
.search-input{
  display: inline;
  width: 90%;
  margin: 1rem;
  padding: 0.8rem;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 600;
}
.search-btn{
  width: 100px;
  height: 50px;
  margin-top: 15px;
  font-size: 18px;
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer {
  background-color: #395F6B;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: repeat(1 ,1fr);
}
.footer-brand{
  font-size: 1.8rem;
}
